<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{% block title %}OAInfoGraphic{% endblock %}</title>
		<!-- CSS -->
		<link type="text/css" href="{{ path 'extras/jquery/css/custom-theme/jquery-ui-1.8.23.custom.css' }}" rel="stylesheet" />
		<link href="{{ path 'extras/bootstrap/css/bootstrap.min.css' }}" rel="stylesheet" media="screen">
		<link href="{{ path 'extras/bootstrap/css/bootstrap-responsive.min.css' }}" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="{{ path 'css/style.css' }}" />
		<!-- Scripting -->
		<script type="text/javascript" src="{{ path 'extras/jquery/js/jquery-1.8.0.min.js' }}"></script>
		<script type="text/javascript" src="{{ path 'extras/jquery/js/jquery-ui-1.8.23.custom.min.js' }}"></script>
		<script type="text/javascript" src="{{ path 'extras/bootstrap/js/bootstrap.min.js' }}"></script>
	</head>
	<body>
		<div class="container-narrow">
			<div class="masthead">
		        <ul class="nav nav-pills pull-right">
		          {% if equals "/" request.uri %}
		          <li class="active"><a href="{{ path '/' }}">Home</a></li>
		          {% else %}
		          <li><a href="{{ path '/' }}">Home</a></li>
		          {% endif %}
		          {% if equals "/register" request.uri %}
		          <li class="active"><a href="{{ path '/register' }}">Register</a></li>
		          {% else %}
		          <li><a href="{{ path '/register' }}">Register</a></li>
		          {% endif %}
		          {% if equals "/login" request.uri %}
		          <li class="active"><a href="{{ path '/login' }}">Sign in</a></li>
		          {% else %}
		          <li><a href="{{ path '/login' }}">Sign in</a></li>
		          {% endif %}
		        </ul>
		        <h3 class="muted">OAInfoGraphic</h3>
		    </div>
		
      		<hr>
      		
			{% block content %}
			Page without content
			{% endblock %}
			
      		<hr>
      		
			<div id="footer">
		      <p class="muted credit">Created by <a href="http://www.lyncode.com">Lyncode</a> &copy; 2012</p>
		    </div>
	    </div>
	</body>
</html>